.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1340px;
    margin: 92px 49px 92px 51px;
    z-index: 1;
}

.header__menu {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 43px;
    margin-bottom: 45px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 12px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding-right: 13px;
}

.header__link_active .header__link {
    text-decoration: none;
}


.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    padding-bottom: 4px;
}

address {
    max-width: 240px;
    text-underline-offset: 4px;
    font-style: normal;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    line-height: 24.3px;
  }

.header__address {
    justify-self: right;
}

.overlay {
    position: absolute;
    background: #000;
    opacity: 0.6;
    inset: 0;
}

.cover {
    position: relative;
    margin: 92px 0 180px;
    max-width: 1440px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.cover__title {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.3em;
    width: 100%;
    padding: 165px 50px 135px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    line-height: 115%;
    z-index: 1;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
    line-height: 100%;
    z-index: 1;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
    text-align: right;
    line-height: 100%;
    z-index: 1;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: initial;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 50px;
    gap: 78px;
}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 15px;
    z-index: 1;
}

.bet-button {
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
}

.lots {
    margin: 180px 50px 181px 50px;
    max-width: 1340px;
}

.lots__heading {
    padding-bottom: 27px;
    padding-left: 40px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    margin-bottom: 30px;
    gap: 25px;
    flex-wrap: wrap;
    align-content: stretch;
    
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card-link {
    display: block;
    list-style: none;
    height: 100%;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card__type_film {
    background: url(../images/card-lot-01.jpg);
}

.card__type_book {
    background: url(../images/card-lot-02.jpg);
}

.card__type_picture {
    background: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.lots__look-more-link {
    margin-top: 554px;
    margin-left: 40px;
    margin-bottom: 2px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: 100%;
    margin: 181px 50px 180px 50px;
    column-gap: 25px;
    max-width: 1340px;
}

.about__column {
    display: flex;
    width: 430px;
    padding: 0px 95px;
}


.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius:50%;
    background: black;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 25px;
    max-width: 885px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1340px;
    margin: 180px 50px 90px 50px;
    color: #000;
}

.footer__menu {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer__menu-link_active .footer__menu-link {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    column-gap: 48px;
    list-style: none;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
}